*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}
body {
    background: linear-gradient(120deg, #43cea2,#185a9d);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}
.form-box{
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    animation: slideIn 0.7s ease-in-out;
}
@keyframes slideIn {
    from{
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

h2{
    text-align: center;
    color: #185a9d;
    margin-bottom: 25px;
}

.input-group {
    margin-bottom: 25px;
}

.input-group label {
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width:100%;
    padding: 10px;
    border:2px solid #ddd;
    border-radius: 8px;
    transition: border-color 0.3s;
}

.input-group input:focus{
    border-color: #43cea2;
    outline: none;

}

.login-btn {
    width: 100%;
    background-color: #43cea2;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: "background 0.3s";
}

.login-btn:hover {
    background-color: #37b893;
}

.message {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.message a {
    color:#185a9d;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width:500px){
    .form-box{
        padding: 20px;
    }
}