.navigation h2 {
    color: #185a9d;
    font-size: xx-large;
}

.navigation a {
    text-align: center;
    color: #43cea2;
    font-weight: bold;
    font-size: medium;
    text-decoration: none;
    transition: font-size 0.2s ease-in-out;
}

.navigation a:hover {
    text-align: center;
    color: #185a9d;
    font-weight: bold;
    text-decoration: none;
    font-size: large;
    transition: font-size 0.2s ease-in-out;
}

.navigation {
    background: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    margin-top: 0px;
    width: 100%;
    height: 80px;
    animation: appear 0.7s ease-in-out;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navList {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.navList .navItem {
    margin: auto;
}

.logo {
    background: linear-gradient(to right, #185a9d, #43cea2);
    background-clip: text;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    margin: auto;
    margin-top: 15px;
    margin-left: 100px;
}

@keyframes appear {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0px);
    }
}